In [ ]:
loops
types of loops
for 
limit

In [ ]:
loops --same action ni multiple execute

In [ ]:
syntax

In [ ]:
for variable in sequencedatype(list/tuple/set/dict/arrays):
    statements

In [ ]:
1-10 numbers ,print

In [1]:
lst_number=[1,2,3,4,5,6,7,8,9]

In [2]:
lst_number

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
the value is 1
the value is 2
---
the value is 3

In [ ]:
loops

In [3]:
for i in lst_number:
    print(" the value is", i)

 the value is 1
 the value is 2
 the value is 3
 the value is 4
 the value is 5
 the value is 6
 the value is 7
 the value is 8
 the value is 9

In [4]:
salary=[10000,20000,30000,40000]

In [ ]:
scenario: 10% 
    each percentage of amount display

In [6]:
for per in salary:
    print(" salary of a employee :",per)
    percentage_incre=per*.10
    print(" the hike percentage amount form your salary", percentage_incre)

 salary of a employee : 10000
 the hike percentage amount form your salary 1000.0
 salary of a employee : 20000
 the hike percentage amount form your salary 2000.0
 salary of a employee : 30000
 the hike percentage amount form your salary 3000.0
 salary of a employee : 40000
 the hike percentage amount form your salary 4000.0

In [ ]:
for per in salary:
    print(" salary of a employee :",per)
    percentage_incre=per*.10
    print(" the hike percentage amount form your salary", percentage_incre)

In [ ]:
automatic generation-- values

In [ ]:
lst=limit 1-100

In [ ]:
1-2000

In [ ]:
range()---for loop use

In [ ]:
range(start value,ending value, increament/decrement)

In [ ]:
1-10
1,2,3
1.3.5

In [ ]:
range(1,11,2)

In [ ]:
1-10

In [7]:
for val in range(1,11,1):
    print(" the value is ",val)

 the value is  1
 the value is  2
 the value is  3
 the value is  4
 the value is  5
 the value is  6
 the value is  7
 the value is  8
 the value is  9
 the value is  10

In [8]:
for val in range(1,11):
    print(" the value is ",val)

 the value is  1
 the value is  2
 the value is  3
 the value is  4
 the value is  5
 the value is  6
 the value is  7
 the value is  8
 the value is  9
 the value is  10

In [9]:
for val in range(1,11,2):
    print(" the value is ",val)

 the value is  1
 the value is  3
 the value is  5
 the value is  7
 the value is  9

In [10]:
for val in range(5,51,5):
    print(" the value is ",val)

 the value is  5
 the value is  10
 the value is  15
 the value is  20
 the value is  25
 the value is  30
 the value is  35
 the value is  40
 the value is  45
 the value is  50

In [11]:
for val in range(6,61,6):
    print(" the value is ",val)

 the value is  6
 the value is  12
 the value is  18
 the value is  24
 the value is  30
 the value is  36
 the value is  42
 the value is  48
 the value is  54
 the value is  60

In [ ]:
# range(20,10,2)